@import "./variaveis";

@mixin gradiente-borda {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    z-index: -1;
    border: 2px solid transparent;
    background: linear-gradient(to right, $rosa, $roxo) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@mixin tablets {
  @media (min-width: 768px) and (max-width: 1199.98px) {
    @content;
  }
}
